<nav class="navbar">
  <a href="/" class="nav-link">Home</a>
  {{#if logged_in}}
    <a href="/dashboard" class="nav-link">Dashboard</a>
    <a href="/logout" class="nav-link">Logout</a>
  {{else}}
    <a href="/login" class="nav-link">Login</a>
  {{/if}}
</nav>